<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Aspen Automation Report version (1.6)" verbose="1"
	preserve-order="true">

	<suite-files>
		<suite-file path="testng1.6Altadena.xml"></suite-file>
		<suite-file path="testng1.6Roomba900.xml"></suite-file>
	</suite-files>
</suite>


