<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Altadena Automation Report version (1.6)" verbose="1">


	<test name="Aspen Mobile Test" preserve-order="true">
		<classes>
			<class name="com.google.test.Roomba900">
				<methods>

					<include name="installAPK" />
					<include name="verifyAcceptAgreementText" />
					<include name="verifyAcceptAgreementCheckBox" />
					<include name="verifyAcceptAgreementReview" />

					<include name="AppLangText" />
					<include name="Automatic" />
					<include name="stayInformed" />
					<include name="aboutThisApp" />

					<include name="verifyButtonNextDisabled" />
					<include name="clickOnAggrement" />
					<include name="clickOnNext" />
					<!-- 2nd page -->
					<include name="verifyPageTitle" />
					<include name="verifyRoomba900" />
					<include name="verifyAltadena" />
					<include name="clickOnRoomba900" />


					<!-- 3rd page -->
					<include name="verifyThirdPageTitle" />
					<include name="verifyDetectedRobots" />
					<include name="verifySetUpNewRoomba" />
					<include name="verifyLearnMore" />

					<!-- 4th page -->
					<include name="verifyFourthPageTitle" />
					<include name="verifyHelloText" />
					<include name="verifyHelloDesc" />
					<include name="verifyDots" />
					<include name="verifySkip" />
					<include name="clickOnSkip" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
